.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-card {
    background: rgb(0,1,46) !important;
}

.table-card {
    background-image: linear-gradient(to bottom left, rgb(0,0,0), rgb(15,16,55)) !important;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider-container {
    width: 33%;
}

.time-slider {
    width: 95%;
    margin: auto;
}

button {
    margin: 0.5rem !important;
    color: black !important;
    font-weight: bold !important;
}

.finish-button {
    background: rgb(98, 255, 123) !important;
}

.restart-button {
    background: rgb(0, 67, 255) !important;
}

.speed-control-button {
    margin: 0 !important;
}
.speed-control-icon {
    color: rgb(0, 67, 255) !important;
}

.table-head {
    background: rgb(56,58,90) !important;
    color: white !important;
}

.table-head th {
    color: white !important;
}

.table-body tr td {
    color: white;
}

.type-select {
    width: 100%;
}